<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
{% if app.user is not null %}
    <div class="navbar navbar-light bg-light">
        <div>
            <i class="fas fa-user"></i>
            <span>{{ app.user }}</span>
        </div>
        <div>
            <a class="text-danger" href="{{ url('app_logout') }}">
                Logout
                <i class="text-danger fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
{% endif %}
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
