<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>
<body>
{% if app.user is not null %}
    <span>{{ app.user }}</span>
    <a href="{{ url('app_logout') }}">Logout</a>
{% endif %}
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
